# Исследование надежности заемщиков

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('/Users/maria_myachina/Downloads/Аналитик данных (Яндекс Практикум)/Проекты/02_Bank/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для определения наличия зависимости между количеством детей и возвратом кредита в срок проведем расчет процента заемщиков, у которых была задолженность по возврату кредитов, по каждой категории.

In [22]:
child_debt = pd.DataFrame()
child_debt['debt_quantity'] = data.groupby('children')['debt'].agg('sum')
#number of borrowers with overdue debt by category
child_debt['total_quantity'] = data['children'].value_counts()
#number of borrowers by category
child_debt['debt_percent'] = (data.groupby('children')['debt'].agg('sum') / data['children'].value_counts())*100
#percent of borrowers with overdue debt by category
print(child_debt.sort_values(by='children',ascending=True))

          debt_quantity  total_quantity  debt_percent
children
0                  1063           14091      7.543822
1                   444            4808      9.234609
2                   194            2052      9.454191
3                    27             330      8.181818
4                     4              41      9.756098
5                     0               9      0.000000

**Вывод:** В целом наблюдаем увеличение процента заемщиков с задолженностью по возврату кредита в зависимости от наличия детей. Также наблюдаем тенденцию к увеличению процента должников в зависимости от количества детей. Хотя мы и видим, что среди заемщиков с 3 детьми меньшая доля должников, чем среди заемщиков с 1-2 детьми и с 4 детьми, а среди заемщиков с 5 детьми должников нет совсем. Это связано с небольшим количеством заемщиков в данных категориях. Поэтому в этих категориях платежеспособность каждого заемщика сильно влияет на процент возвратов как в большую, так и в меньшую сторону. Так, заемщиков с 5 детьми всего 9. Если хоть один из них допустит просрочку, то процент заемщиков с задолженностью в данной категории вырастет сразу до 11,11%.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для определения наличия зависимости между семейным положением и возвратом кредита в срок проведем расчеты, аналогичные расчетам в п. 3.1, по столбцу family_status.

In [23]:
fs_debt = pd.DataFrame()
fs_debt['debt_quantity'] = data.groupby('family_status')['debt'].agg('sum')
#number of borrowers with overdue debt by category
fs_debt['total_quantity'] = data['family_status'].value_counts()
#number of borrowers by category
fs_debt['debt_percent'] = (data.groupby('family_status')['debt'].agg('sum') / data['family_status'].value_counts())*100
#percent of borrowers with overdue debt by category
print(fs_debt.sort_values(by='debt_percent',ascending=False))

                       debt_quantity  total_quantity  debt_percent
family_status
Не женат / не замужем            273            2796      9.763948
гражданский брак                 385            4134      9.313014
женат / замужем                  927           12261      7.560558
в разводе                         84            1189      7.064760
вдовец / вдова                    63             951      6.624606

**Вывод:** По полученным данным можно сказать, что зависимость между семейным положением и возвратом кредита в срок есть. Меньше всего должников среди вдовцов. Женатые и находящиеся в разводе заемщики имеют задолженность на примерно 1% чаще, чем вдовцы. Не женатые и живущие в гражданском браке заемщики не возвращают кредиты в срок чаще остальных на 2-3%.  
При этом также стоит учитывать численность каждой категории. С учетом количества заемщиков в каждой категории можно сказать, что наиболее надежными являются женатые заемщики.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для определения наличия зависимости между семейным положением и возвратом кредита в срок проведем расчеты, аналогичные расчетам в п. 3.1, по столбцу total_income_category.  

Категории по уровню дохода:  
0–30000 — 'E';  
30001–50000 — 'D';  
50001–200000 — 'C';  
200001–1000000 — 'B';  
1000001 и выше — 'A'.

In [24]:
total_income_debt = pd.DataFrame()
total_income_debt['debt_quantity'] = data.groupby('total_income_category')['debt'].agg('sum')
#number of borrowers with overdue debt by category
total_income_debt['total_quantity'] = data['total_income_category'].value_counts()
#number of borrowers by category
total_income_debt['debt_percent'] = (data.groupby('total_income_category')['debt'].agg('sum') / data['total_income_category'].value_counts())*100
#percent of borrowers with overdue debt by category
print(total_income_debt.sort_values(by='total_income_category',ascending=True))

                       debt_quantity  total_quantity  debt_percent
total_income_category
A                                  2              25      8.000000
B                                354            5014      7.060231
C                               1353           15921      8.498210
D                                 21             349      6.017192
E                                  2              22      9.090909

**Вывод:** Прямая зависимость между уровнем дохода и возвратом кредита в срок не выявлена. Процент должников с уровнем дохода A и E довольно высокий, что, вероятно, объясняется небольшим количеством заемщиков в данных категориях, а в категории E еще и низким доходом.  Меньше всего должников среди заемщиков с уровнем дохода чуть выше минимального (D) и чуть меньше максимального (B). В самой многочисленной категории со уровнем дохода C самый высокий процент должников (если не считать малочисленную категорию E). Основная масса заемщиков относится к уровням дохода C и B, в связи с чем можно сделать вывод, что наиболее надежные заемщики имеют уровень дохода B. При этом отнести заемщиков категории С к наименее надежным нельзя, так как это самая многочисленная категория заемщиков, вероятно являющаяся для банка целевой.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для определения наличия зависимости между целью оформления кредита и возвратом кредита в срок проведем расчеты, аналогичные расчетам в п. 3.1, по столбцу purpose_category.

In [25]:
purp_debt = pd.DataFrame()
purp_debt['debt_quantity'] = data.groupby('purpose_category')['debt'].agg('sum')
#number of borrowers with overdue debt by category
purp_debt['total_quantity'] = data['purpose_category'].value_counts()
#number of borrowers by category
purp_debt['debt_percent'] = (data.groupby('purpose_category')['debt'].agg('sum') / data['purpose_category'].value_counts())*100
#percent of borrowers with overdue debt by category
print(purp_debt.sort_values(by='debt_percent',ascending=False))

                          debt_quantity  total_quantity  debt_percent
purpose_category
операции с автомобилем              400            4279      9.347978
получение образования               369            3988      9.252758
проведение свадьбы                  183            2313      7.911803
операции с недвижимостью            780           10751      7.255139

**Вывод:** В соответствии с проведенным расчетом, чаще всего задолженность имеют заемщики, оформлявшие кредит на операции с автомобилем и на получение образования. На проведение свадьбы кредиты оформляют меньше всего, но процент должников в данной категории средний (в сравнении с остальными категориями). Чаще всего оформляют кредиты на операции с недвижимостью, и в данной категории меньше всего должников. Таким образом, наиболее надежными являются заемщики, оформляющие кредит на недвижимость.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* В исходных данных одинаковое количество пропусков в столбцах days_employed и total_income, что говорит о том, что пропуски в ячейках в этих столбцах не случайны.  

Мое предположение было такое, что скорее всего эти данные не заполнены у тех категорий заемщиков, которые не имеют трудового стажа и, соответственно, ежемесячного дохода, например, у студентов.  

Но после отбора в таблице строк с пустыми строками мое предположение не подтвердилось:  
income_type  
сотрудник          1105  
компаньон           508  
пенсионер           413  
госслужащий         147  
предприниматель       1  

Судя по этим сведениям, данные о стаже и доходе могли быть не указаны этими заемщиками намеренно с целью не раскрывать информацию о своем доходе. Но так как данные не указаны в обоих столбцах, возможно, при заполнении анкеты происходил сбой, и часть анкеты с данными о трудовом стаже и доходе не подгрузилась.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнить пропуски медианным значением — лучшее решение для количественных переменных, так как крайние значения в конкретной категории могут быть очень большими или очень маленькими относительно других значений. В такой ситуации рассчитанное среднее значение может некорректно отражать реальную ситуацию. Также замена пропусков средним значением при наличии выбросов может исказить распределение данных. Медианное значение в такой ситуации фактически будет ближе к типичному значению в наборе данных, особенно когда есть выбросы.

### Шаг 4: общий вывод.

В ходе данного исследования было проверено:
- есть ли зависимость между количеством детей и возвратом кредита в срок;
- есть ли зависимость между семейным положением и возвратом кредита в срок;
- есть ли зависимость между уровнем дохода и возвратом кредита в срок;
- как разные цели кредита влияют на его возврат в срок.

Для определения наличия зависимости был произведен расчет доли заемщиков с задолженностью от общего числа заемщиков по категориям. 

По результатам расчетов можно сделать следующие выводы.
- Зависимость между количеством детей и возвратом кредита в срок есть, самые надежные заемщики те, кто не имеет детей. Далее наблюдается тенценция к увеличению процента должников прямо пропорционально количеству детей.
- Зависимость между семейным положением и возвратом кредита в срок также имеется, самые надежные заемщики, состоящие в официальном браке.
- Прямая зависимость между уровнем дохода и возвратом кредита в срок не выявлена. Самые надежные заемщики с доходом 200001–1000000 (категория 'B'). В категории с уровнем дохода 50001–200000 ('C') самый высокий процент должников. При этом отнести заемщиков категории С к наименее надежным нельзя, так как это самая многочисленная категория заемщиков, являющаяся для банка целевой.
- Цель кредита значительно влияет на его возврат в срок. Наиболее надежными являются заемщики, оформляющие кредит на недвижимость. И с этой целью кредиты оформляют чаще всего. Наименее надежными являются заемщики, оформляющие кредит на автомобиль или образование.

Таким образом, каждый из исследуемых факторов имеет влияние на возврат кредита в срок.
Поэтому при скоринге необходимо учитывать совокупность факторов.  
Например, идеальный заемщик для банка не имеет детей, женат, имеет уровень дохода 200001–1000000 и оформляет кредит на операции с недвижимостью.  
Наиболее опасное сочетание - наличие более 2 детей, не состоит в официальном браке, имеет доход меньше 30000 и оформляет кредит на автомобиль или образование. 

Для проведения скоринга рекомендую присвоить каждой категории заемщиков по каждому из исследованных факторов баллы в зависимости от надежности, где 1 - наиболее надежный, и считать сумму баллов потенциального заемщика. Чем сумма баллов выше, тем больше вероятность невозврата кредита.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.

Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

<div class="alert-success">